* {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.edie {
  margin: 0 auto;
  padding: 42px 56px 0 52px;
}

.edie__header {
  display: flex;
  align-items: center;
  gap: 463px;
}

.edie__logo {
  font-size: 36px;
  font-weight: 800;
}

.edie__nav__buttons {
  display: flex;
}

.edie__nav__button {
  font-size: 24px;
}

.edie__nav__button:not(:last-child) {
  margin-right: 60px;
}

.edie__hero {
  margin: 96px 0 42px 225px;
}
.edie__hero.bottom {
  margin-bottom: 200px;
}

.edie__unhappy__message {
  color: #2d9cdb;
}

.edie__message {
  font-size: 48px;
  font-weight: 500;
  width: fit-content;
}

.edie__help__message {
  margin: 42px 0;
  color: #4f4f4f;
  width: 350px;
}

.edie__hero__image {
  border-radius: 18px;
}

.edie__submit {
  position: relative;
}

.edie__submit__message {
  font-size: 14px;
  color: #828282;
  margin-bottom: 9px;
  font-weight: 500;
}

.edie__submit__input {
  background-color: #f2f2f2;
  padding: 15px 0 15px 21px;
  border: none;
  border-radius: 12px;
  width: 350px;
  /* color: #bdbdbd; */
}

.edie__submit__button {
  border: none;
  padding: 11px 28px 11px 27px;
  background: #2d9cdb;
  border-radius: 12px;
  color: #ffffff;
  font-weight: 500;
  position: absolute;
  left: 255px;
  bottom: 4px;
}

footer {
  margin-top: 93px;
  text-align: center;
  color: #a9a9a9;
}

.footer-user-name {
  font-size: inherit;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
}
