* {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #333333;
}

.edie {
  margin: 0 auto;
  padding: 42px 56px 200px 52px;
}

.edie__header {
  display: flex;
  align-items: center;
  gap: 463px;
}

.edie__logo {
  font-size: 36px;
  font-weight: 800;
  font-family: "Heebo", sans-serif;
}

.edie__nav__mobile {
  display: none;
}

.edie__nav__buttons {
  display: flex;
}

.edie__nav__button {
  font-size: 24px;
}

.edie__nav__button:not(:last-child) {
  margin-right: 60px;
}

.edie__hero {
  margin: 42px 0 96px 225px;
}
.edie__hero.bottom {
  margin-bottom: 200px;
}

.edie__unhappy__message {
  color: #2d9cdb;
}

.edie__message {
  font-size: 48px;
  font-weight: 500;
  width: fit-content;
}

.edie__help__message {
  margin: 42px 0;
  color: #4f4f4f;
  width: 350px;
}

.edie__hero__image {
  border-radius: 18px;
}

.edie__submit {
  position: relative;
}

.edie__submit__message {
  font-size: 14px;
  color: #828282;
  margin-bottom: 9px;
  font-weight: 500;
}

.edie__submit__message.footer {
  color: #ffffff;
}

.edie__submit__input {
  background-color: #f2f2f2;
  padding: 15px 0 15px 21px;
  border: none;
  border-radius: 12px;
  width: 350px;
}

.edie__submit__button {
  border: none;
  padding: 11px 28px 11px 27px;
  background: #2d9cdb;
  border-radius: 12px;
  color: #ffffff;
  font-weight: 500;
  position: absolute;
  left: 255px;
  bottom: 4px;
}

.edie__header__message {
  font-size: 36px;
  font-weight: 500;
  width: 346px;
}

.edie__header__message.services {
  margin-bottom: 42px;
}

.edie__phases {
  margin-left: 132px;
}

.edie__services__cards {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 10px;
}

.edie__services__card {
  padding: 46px 34px;
}

.edie__services__card.shadow {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
}

.service__icon {
  border-radius: 16px;
  width: fit-content;
  color: #ffffff;
  padding: 21px 21px 15px 20px;
}
.service__icon.ui {
  background: #2d9cdb;
}
.service__icon.frontend {
  background: #27ae60;
}
.service__icon.backend {
  background: #eb5757;
}
.service__icon > .material-icons {
  color: #ffffff;
  font-size: 27px;
}

.service__job {
  font-size: 24px;
  font-weight: bold;
  margin-top: 35px;
}

.service__detail {
  font-size: 16px;
  color: #4f4f4f;
  margin: 24px 0 30px;
}

.service__start__button {
  font-size: 16px;
  color: #828282;
  background-color: #e0e0e0;
  padding: 9px 12px 9px 13px;
  width: fit-content;
  border-radius: 12px;
}

.service__start__button.primary {
  background: #2d9cdb;
  color: #ffffff;
}

.edie__comment {
  margin-top: 196px;
  width: 937px;
  margin-bottom: 36px;
}

.edie__comment__message {
  font-size: 36px;
  margin-bottom: 36px;
}

.edie__comment__person {
  display: flex;
  gap: 32px;
}

.edie__comment__person > img {
  width: 75px;
  height: 75px;
  border-radius: 12px;
}

.edie__person__name {
  font-size: 24px;
  font-weight: 500;
}

.edie__person__job {
  margin-top: 12px;
  font-size: 18px;
  color: #828282;
}

.edie__footer {
  background-color: #100e1d;
  /* padding: 46px 0 24px 168px; */
  padding: 46px 0 24px;
}

.edie__footer__menu {
  padding-left: 168px;
}

.edie__footer__buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.edie__menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edie__menu__button {
  color: #ffffff;
}

.edie__sns > .edie__logo {
  color: #ffffff;
}

.edie__sns__icons > i {
  color: #ffffff;
}

footer {
  font-size: 14px;
  font-weight: 500;
  margin-top: 118px;
  text-align: center;
  color: #ffffff;
}

.footer-user-name {
  font-size: inherit;
  color: inherit;
  font-weight: 700;
  border-bottom: 1px solid #ffffff;
}

@media screen and (max-width: 767px) {
  .edie {
    padding: 13px 17px 100px 10px;
  }
  .edie__hero {
    margin: 48px 0 15px 40px;
  }
  .edie__nav__buttons {
    display: none;
  }
  .edie__nav__mobile {
    display: block;
  }
  .edie__help__message {
    width: 405px;
  }
  .edie__submit__input {
    width: 90%;
  }
  .edie__submit__button {
    left: 425px;
  }
  .edie__phases {
    margin-left: 39px;
  }
  .edie__services__cards {
    grid-template-columns: repeat(1, 350px);
  }
  .edie__comment {
    margin: 100px 0;
  }
  .edie__comment__message {
    font-size: 24px;
  }
  .edie__footer__menu {
    padding-left: 41px;
  }
  .edie__footer__buttons {
    grid-template-columns: repeat(1, 1fr);
    gap: 65px;
  }
}
